body{
font-family:Arial;
background:#eef3ff;
display:flex;
align-items:center;
justify-content:center;
height:100vh;
}

main{
background:white;
padding:25px;
border-radius:12px;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,.15);
}

h1{
text-align:center;
color:#3b57d1;
}

form{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom:15px;
}

input,select,button{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#3b57d1;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#2c42a3;
}

#lista p{
margin:5px 0;
font-weight:bold;
}

#total{
margin-top:15px;
font-size:18px;
color:#3b57d1;
font-weight:bold;
text-align:center;
}
